ul.navbar-section li a {
    list-style: none;
    text-transform: capitalize;
    font-weight: 500;
    color: white;
    padding: 0 30px;
    text-decoration: none;
}
.nav-section {
    background: #222;
    padding: 20px 0;
}
ul.navbar-section {
    display: flex;
    margin: 0;
}
.nav-content {
    display: flex;
    align-items: center;
}